[submodule "gym-minigrid"]
	path = gym-minigrid
	url = https://github.com/caotians1/gym-minigrid.git
	branch = master

[submodule "babyai"]
	path = babyai
	url = https://github.com/caotians1/babyai.git
	branch = master
